<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.piwai.expressboard.android"
    android:versionCode="4"
    android:versionName="1.3" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.ExpressJobs" >
        <activity
            android:name=".JobListActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.piwai.expressboard.android.AboutActivity_"
            android:label="@string/about"
            android:theme="@style/Theme.Sherlock.Light.Dialog" />
        <activity
            android:name="info.piwai.expressboard.android.DetailsActivity_"
            android:theme="@style/Theme.Sherlock.Light.Dialog" />
        <activity
            android:name="info.piwai.expressboard.android.JobDetailActivity_"
            android:label="@string/app_name" />
    </application>

</manifest>